{% extends 'map.html' %}
{% load static %}
{% block avgTable %}
    <div id="averageTable"></div>
    <script>
        let avgTable = new AverageTable(JSON.parse("{{ pm_dataset|escapejs }}"));

        let sel = document.getElementById('id_stations');
        let opt = sel.options[sel.selectedIndex];
        avgTable.setStation(opt.text);

        let hourly_values = avgTable.getHourValues();
        let average_values = avgTable.getAverageValues();


        let table = avgTable.getTable();
        document.getElementById("averageTable").appendChild(table);
    </script>
{% endblock avgTable %}