{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>GrafiGraf</title>
{% endblock title %}
{% block chart %}
<div>
    <input type="radio" id="noLines" name="lines" value="noLines">
    <label for="noLines">No Lines</label>
    <input type="radio" id="withTension" name="lines" value="withTension">
    <label for="withTension">Lines With Tension</label>
    <input type="radio" id="withoutTension" name="lines" value="withoutTension" checked>
    <label for="withoutTension">Lines Without Tension</label>
</div>

<div id="container"></div>
    <div style="width:50%;height:500px;">
		<canvas id="canvas" aria-label="ZL_CHART" role="img"></canvas>
	</div>
  <script>
    const chart = new ChartWrapper(JSON.parse("{{data|escapejs}}"));


    document.getElementById("id_stations").onchange = function (){
         let sel = document.getElementById('id_stations');
         let opt = sel.options[sel.selectedIndex];
         chart.setStation(opt.text);
         chart.updateChart();
    }
    document.getElementById("id_days").onchange = function (){
         let sel = document.getElementById('id_days');
         let opt = sel.options[sel.selectedIndex];
         chart.setDays(opt.text);
         chart.updateChart();
    }
    document.getElementById("noLines").onclick = function (){
        chart.showLine(false);
        chart.updateChart();
    }
    document.getElementById("withTension").onclick = function (){
        chart.showTension(true);
        chart.drawChart();
    }
    document.getElementById("withoutTension").onclick = function (){
        chart.showTension(false);
        chart.drawChart();
    }


    window.onload = function() {
        let sel = document.getElementById('id_stations');
        let opt = sel.options[sel.selectedIndex];
        chart.setStation(opt.text);
        sel = document.getElementById('id_days');
        opt = sel.options[sel.selectedIndex];
        chart.setDays(opt.text);
        chart.drawChart();
    };

    </script>
{% endblock chart %}
