{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>GrafiGraf</title>
{% endblock title %}
{% block chart %}
<div>
    <input type="radio" id="noLines" name="lines" value="noLines">
    <label for="noLines">No Lines</label>
    <input type="radio" id="withTension" name="lines" value="withTension">
    <label for="withTension">Lines With Tension</label>
    <input type="radio" id="withoutTension" name="lines" value="withoutTension" checked>
    <label for="withoutTension">Lines Without Tension</label>
</div>

<div id="container"></div>
    <div style="width:100%;height:500px;">
		<canvas id="canvas" aria-label="ZL_CHART" role="img"></canvas>
	</div>
  <script>
    const chart = new ChartWrapper(JSON.parse("{{data|escapejs}}"));
    </script>
    <script src="{% static 'js/custom/listeners.js' %}"></script>
{% endblock chart %}
