{% extends 'airBase.html' %}
{% load static %}
{% block gust %}

{{ wind|json_script:"wind" }}

<div id="container">
    <div id="air-view">
        <div id="time-select-div">
            <select id="time-select">
            </select>
            <select id="step-select">
            </select>
        </div>
        <div id="air-container">
            <div class="air-picture">
                <img id="gust" src="{% static 'air/GUST/CLSU_RAF_MOD_XFU_00.png' %}" alt="">
            </div>
            <div class="air-picture">
                <img id="veind" src="{% static 'air/VEIND/CLPVEIND_MOD_XFU_00.png' %}" alt="">
            </div>
        </div>
        <div id="arrow-buttons">
            <button onclick="clicked('first')">
                &laquo;
            </button>
            <button onclick="clicked('prev')">
                &lsaquo;
            </button>
            <button onclick="clicked('next')">
                &rsaquo;
            </button>
            <button onclick="clicked('last')">
                &raquo;
            </button>
        </div>
    </div>
</div>
<script>
    const wind_data = JSON.parse(document.getElementById('wind').textContent);
    const gust_img = document.getElementById('gust');
    const veind_img = document.getElementById('veind');

    let index = 0;
    function clicked(type) {
        switch (type) {
            case 'first' : index = 0; break;
            case 'prev' : index > 0 ? index-- : index = 78; break;
            case 'next' : index < 78 ? index++ : index = 0; break;
            case 'last' : index = 78; break;
            default: break;
        }
        gust_img.src = 'statics/air/GUST/' + wind_data['gust'][index];
        veind_img.src = 'statics/air/VEIND/' + wind_data['veind'][index];
    }
</script>
{% endblock gust %}