{% extends 'chart.html' %}
{% load static %}
{% block dateForm %}
<form action="" method="post" id="dateForm">
    {% csrf_token %}
    {{ dateForm }}
    <input type="submit" value="Submit">
</form>
{% endblock dateForm %}
{% block map %}
    <link rel="stylesheet" href="{% static 'js/leaflet/leaflet.css' %}"/>
    <script src="{% static 'js/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'js/custom/Station.js' %}"></script>
    <script src="{% static 'js/custom/MapWrapper.js' %}"></script>

    <div id="map" style="height: 360px;width: 100%;"></div>
    <script>
        let mapWrapper = new MapWrapper(JSON.parse("{{ stations|escapejs }}"));
        mapWrapper.drawAllStations();
    </script>
{% endblock map %}