<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vzduch.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'css/modularAdmin/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/modularAdmin/vendor.css' %}">

</head>
<body>
<div class="main-wrapper">
        <div class="app">
            <header class="header">
                <div class="header-block header-block-nav">
                    <a href='/'> Grafy</a>

                </div>
            </header>
        <br>
        <br>
            <div class="mobile-menu-handle"></div>
            {% block content %}
                {% block gust %}
                {% endblock gust %}
            {% endblock content %}
        </div>
    </div>
</body>
<footer>

</footer>
</html>