{% extends 'windBase.html' %}
{% load static %}
{% block gust %}

{{ wind|json_script:"wind" }}

<div id="container">
    <div id="air-view">
        <div id="time-select-div">
            <select id="time-select">
                <option>14.11.2020</option>
            </select>
            <select id="step-select">
                <option value="1" selected="selected">1 hod</option>
                <option value="2">2 hod</option>
                <option value="3">3 hod</option>
                <option value="4">4 hod</option>
                <option value="8">8 hod</option>
            </select>
        </div>
        <div id="air-container">
            <div class="air-picture">
                <img id="gust" src="{% static 'air/GUST/CLSU_RAF_MOD_XFU_00.png' %}" alt="">
            </div>
            <div class="air-picture">
                <img id="veind" src="{% static 'air/VEIND/CLPVEIND_MOD_XFU_00.png' %}" alt="">
            </div>
        </div>
        <div id="arrow-buttons">
            <button onclick="clicked('first')">
                &laquo;
            </button>
            <button onclick="clicked('prev')">
                &lsaquo;
            </button>
            <button onclick="clicked('next')">
                &rsaquo;
            </button>
            <button onclick="clicked('last')">
                &raquo;
            </button>
        </div>
    </div>
</div>
<script>
    const wind_data = JSON.parse(document.getElementById('wind').textContent);
    const gust_img = document.getElementById('gust');
    const veind_img = document.getElementById('veind');
    let step = 0;

    let index = 0;
    function clicked(type) {
        step = parseInt(document.getElementById('step-select').value);
        switch (type) {
            case 'first' : index = 0; break;
            case 'prev' : index - step >= 0 ? index -= step : index = 0; break;
            case 'next' : index + step <= 78 ? index += step : index = 78; break;
            case 'last' : index = 78; break;
            default: break;
        }
        gust_img.src = 'airMonitor/statics/air/GUST/' + wind_data['gust'][index];
        veind_img.src = 'airMonitor/statics/air/VEIND/' + wind_data['veind'][index];
    }
</script>
{% endblock gust %}